name: gRPC Go - CI

on:
  workflow_dispatch:
  push:
    paths:
      - grpc/go/**
    branches:
      - 'main'
      - 'feature/*'

env:
  GO_VERSION: '1.24'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install dependencies
        run: cd grpc/go && make dependencies
      - name: build
        run: cd grpc/go && make build
        
  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install dependencies
        run: cd grpc/go && make dependencies
      - name: Test with the Go CLI
        run: cd grpc/go && make test
