name: Kubernetes Terraform - CD

on:
  workflow_dispatch:
    inputs:
      target_environment:
        description: "Target environment"
        required: true
        default: "development"
        type: choice
        options:
          - "development"
          - "staging"
          - "production"
          - "others"
      target_region:
        description: "Target region"
        required: true
        default: "AUSTRALIA_EAST"
        type: choice
        options:
          - "AUSTRALIA_EAST"
          - "EUROPE_WEST"
          - "ASIA_SOUTHEAST"
          - "EUROPE_WEST"
          - "OTHERS"
      vendor:
        description: "Vendor"
        required: true
        default: "AWS"
        type: choice
        options:
          - "AWS"
          - "AZURE"
          - "GCP"
          - "OTHERS"

env:
  ENVIRONMENT: ${{ github.event.inputs.target_environment }}
  REGION: ${{ github.event.inputs.target_region }}
  VENDOR: ${{ github.event.inputs.vendor }}
  TF_VERSION: "v1.13.3"
  TF_WORKSPACE: "case-studies-kubernetes-development"
  TF_CLOUD_ORGANIZATION: ${{ secrets.TERRAFORM_ORGANISATION }}
  TF_API_TOKEN: ${{ secrets.TERRAFORM_TOKEN }}
  AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

  # Terraform variables
  TF_VAR_name: "case-studies-kubernetes"
  TF_VAR_sanitised_name: "casestudiesk8s"
  TF_VAR_project: "case-studies"
  TF_VAR_tag_version: "0.1.0"
  TF_VAR_aws_region: "ap-southeast-2"
  TF_VAR_aws_vpc_cidr: ${{ vars.AWS_VPC_CIDR }}
  TF_VAR_aws_vpc_private_subnet_cidrs: ${{ vars.AWS_VPC_PRIVATE_SUBNET_CIDRS }}
  TF_VAR_aws_vpc_public_subnet_cidrs: ${{ vars.AWS_VPC_PUBLIC_SUBNET_CIDRS }}
  TF_VAR_aws_vpc_data_subnet_cidrs: ${{ vars.AWS_VPC_DATA_SUBNET_CIDRS }}
  TF_VAR_aws_availability_zones: ${{ vars.AWS_AVAILABILITY_ZONES }}
  TF_VAR_aws_enable_nat_gateway: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: kubernetes-dev
    steps:
      - uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}
          cli_config_credentials_token: ${{ env.TF_API_TOKEN }}

      - name: Map environment
        run: .github/scripts/map-environment.sh "${{ env.ENVIRONMENT }}"

      - name: Map region
        run: .github/scripts/map-region.sh "${{ env.REGION }}"

      - name: Map vendor
        run: .github/scripts/map-vendor.sh "${{ env.VENDOR }}" "${{ env.REGION }}"

      - name: Map Terraform
        run: .github/scripts/map-terraform.sh "${{ env.TF_CLOUD_ORGANIZATION }}"

      - name: init
        run: cd kubernetes/terraform && make init

      - name: plan
        run: cd kubernetes/terraform && make plan

      - name: deploy
        run: cd kubernetes/terraform && make deploy
